<H1> <div style="text-align: center" > 빅데이터팜 - 1st week (실습) </div> </H1>

<H3> <div style="text-align: right" > 김재훈 </div> </H3>

## math 라이브러리에서 sin 함수를 불어오기 + format()로 출력

In [ ]:
from math import sin

In [3]:
x = float(10)
print(
    "Hello world, sin({0}) = {1}". format(x, sin(x))
)

Hello world, sin(10.0) = -0.5440211108893698

## 파이썬 소스코드파일 주피터 노트북에서 실행해보기

In [4]:
%run test.py

I ran python script.

## 실습문제 01
<br>
strdata = 'Time IS money!’<br>
위의 스트링을 가지고 슬라이싱 문법을 사용해서 아래와 같은 3가지 스트링을 만들어보세요~<br>
<br>
1) ime <br> 
2) Time IS <br>
3) oney!

In [8]:
strdata = 'Time IS money!'

In [9]:
strdata[1:4]

'ime'

In [11]:
strdata[:7]

'Time IS'

In [16]:
strdata[-5:]

'oney!'

## 실습문제 02
<br>
Given an input string, reverse the string word by word.
<br>
<b>Example</b><br>
<br>
Input : "the sky is blue",<br>
Output : "blue is sky the"

In [17]:
input_ = "the sky is blue"

In [25]:
output_ = " ".join(input_.split(" ")[::-1])

In [26]:
print(output_)

blue is sky the

## 실습문제 03
<br>
make a list of tuples. <br>
in each tuple contains Barcelona to the other. <br>
<br>
예) [(Barcelona, Barcelona), (Barcelona, Belgrade), ... ]

In [30]:
city = "Barcelona;Belgrade;Berlin;Brussels;Bucharest;Budapest;Copenhagen;Dublin;Hamburg;Istanbul".split(";")

In [33]:
result = [(city[0], _) for _ in city]

In [34]:
result

[('Barcelona', 'Barcelona'),
 ('Barcelona', 'Belgrade'),
 ('Barcelona', 'Berlin'),
 ('Barcelona', 'Brussels'),
 ('Barcelona', 'Bucharest'),
 ('Barcelona', 'Budapest'),
 ('Barcelona', 'Copenhagen'),
 ('Barcelona', 'Dublin'),
 ('Barcelona', 'Hamburg'),
 ('Barcelona', 'Istanbul')]

## 실습문제 04
<br>
<b>For룹을 쓰면??</b> <br>
squares = \[\] <br>
for x in range(10):<br>
&nbsp;&nbsp;&nbsp;&nbsp;squares.append(x\*\*2)<br>
<br>
<b>List Comprehensions을 쓰면? </b> <br>
squares = \[x\**2 for x in range(10)\]<br>

fib = \[1,1\] 라는 리스트가 주어졌다. <br>
저 리스트에 append해가면서 리스트 컴프리핸션을 사용해 한 줄로 피보나치 수열을 계산하는 코드를 작성하시오.

In [64]:
fib = [1,1]

In [65]:
[ fib.append(fib[_] + fib[_+1]) for _ in range(10) ]

[None, None, None, None, None, None, None, None, None, None]

In [66]:
fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144]

## 제너레이터 실습
<br>
next()라는 빌트인 메서드를 통해 제너레이터를 실행시킬 수 있으며<br> next() 메서드는 내부적으로 iterator를 인자로 받아 이터레이터의 &#95;&#95;next&#95;&#95;() 메서드를 실행시킨다.

In [48]:
def generator():
    yield 1
    yield 'string'
    yield True

gen = generator()

print(generator())
print(next(gen))
print(next(gen))
print(next(gen))

<generator object generator at 0x0000022214CB4728>
1
string
True