# 빅데이터팜 - 2nd week (실습)

## numpy 불러오기

In [1]:
import numpy as np

## 실습문제01
Data 1 = [[1.5, 2.5, 3.5], [4.5,5.5,6.5]] 를 다차원 배열로 바꾸고<br> 배열의 dtype을 int32형으로 바꾸기

In [2]:
data1 = [[1.5, 2.5, 3.5],
         [4.5, 5.5, 6.5]]

data1 = np.array(data1)

In [3]:
data1.dtype

dtype('float64')

In [4]:
data1 = data1.astype('int32')

In [5]:
data1

array([[1, 2, 3],
       [4, 5, 6]])

In [6]:
data1.dtype

dtype('int32')

## 실습문제02
0부터 9까지의 숫자 배열arr 을 만들고 새로운 arr_slice 배열에 
Arr를 이용하여 0부터 5까지의 숫자를 넣어보기(슬라이싱). <br>
이후 arr_slice 값을 모두 10으로 바꾸고 원래 배열인 arr에 어떤 변화있는지 확인해보기.

In [7]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
arr_slice = arr[:6]
arr_slice

array([0, 1, 2, 3, 4, 5])

In [9]:
arr_slice.fill(10)
arr_slice

array([10, 10, 10, 10, 10, 10])

In [10]:
#Check "arr" status
arr

array([10, 10, 10, 10, 10, 10,  6,  7,  8,  9])

## 실습문제03
Array([[7., 7., 7., 7.],
	 [1., 1., 1., 1.],
	 [0., 0., 0., 0.,]]) 순서로 출력되기를 원한다면 어떤 식으로 색인을 사용해야 할지

In [11]:
arr = np.empty((8,4))
arr

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [12]:
for i in range(8):
    arr[i] = i
arr

array([[0., 0., 0., 0.],
       [1., 1., 1., 1.],
       [2., 2., 2., 2.],
       [3., 3., 3., 3.],
       [4., 4., 4., 4.],
       [5., 5., 5., 5.],
       [6., 6., 6., 6.],
       [7., 7., 7., 7.]])

In [13]:
for i in range(8):
    arr[-(i+1)] = i
arr

array([[7., 7., 7., 7.],
       [6., 6., 6., 6.],
       [5., 5., 5., 5.],
       [4., 4., 4., 4.],
       [3., 3., 3., 3.],
       [2., 2., 2., 2.],
       [1., 1., 1., 1.],
       [0., 0., 0., 0.]])

## 실습문제04
표준편차가 1이고 평균값이 0인 정규분포에서 4x4난수 행렬을 배열로 입력받고 0보다 크거나 같은 값은 10, 0보다 작은 값은 20으로 변환해보기

In [14]:
arr = np.random.normal(loc = 0, scale = 1, size = (4,4))
arr

array([[ 0.0956567 ,  1.75151442,  0.36038609, -0.17811498],
       [ 0.05886721, -0.55462932,  2.00392347,  0.49877611],
       [-0.91481551, -0.22730631,  1.39991267,  0.78830891],
       [ 0.03953553,  0.31011413,  0.50908806,  0.04628927]])

In [15]:
arr[arr >= 0] = 10
arr

array([[10.        , 10.        , 10.        , -0.17811498],
       [10.        , -0.55462932, 10.        , 10.        ],
       [-0.91481551, -0.22730631, 10.        , 10.        ],
       [10.        , 10.        , 10.        , 10.        ]])

In [16]:
arr[arr < 0] = 20
arr

array([[10., 10., 10., 20.],
       [10., 20., 10., 10.],
       [20., 20., 10., 10.],
       [10., 10., 10., 10.]])

In [17]:
arr

array([[10., 10., 10., 20.],
       [10., 20., 10., 10.],
       [20., 20., 10., 10.],
       [10., 10., 10., 10.]])

## QUIZ
3차원 배열 arr3d = np.array([<br>
[ [1,2,3],<br>
[4,5,6] ],<br>
[ [7,8,9],<br>
[10,11,12] ]<br>
])

In [18]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])

In [19]:
arr3d[0][1][2]

6

In [8]:
arr3d[1][1][1]

11